h1{
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
#one{
  background-color: #C81D25;
}
#two{
  background-color: #FF5A5F;
}
#three{
  background-color: #0B3954;
}
#four{
  background-color: #087E8B;
}
#five{
  background-color: #BFD7EA;
}
.art{
  margin: auto;
  border: 20px;
}
td{
  height: 300px;
  width: 150px;
  border: 6px solid white;
}
